.topBar {
  width: 100%;
  margin: 16px 0px;
  display: flex;
  align-items: center;
  gap: 14px;
}
.Search {
  display: flex;
  flex: 1;
  flex-direction: row;
  background-color: #f1f1f1;
  border-radius: 16px;
  padding: 16px;
  align-items: center;
  gap: 14px;
}
.Search input {
  flex: 1;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 18px;
}
